.tasks-container {
  border: 1px solid #111;
  border-radius: 2px;
  padding: 1rem 1.25rem;
  margin: 1rem auto 0;
  max-width: 1447px; // adjust to match your header's width
  width: calc(100% - 20px);
}