.tasks-item {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 14px 18px;
  margin: 10px 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: all 0.2s ease;

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #222;

    display: flex;
    justify-content: space-between; // pushes text and icon apart
    align-items: center;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }

  &.reminder {
    border-left: 4px solid #28a745;
  }
}